.task-container {
    font-size: 15;
    display: flex;
    height: 45px;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

body {
        font-family: 'Courier New', Courier, monospace;
}

.task-container p {
    padding-left: 7px;
}

body p {
    margin: 0;
}

.task-buttons {
    width: 670px;
    display: flex;
    justify-content: space-between;
    margin-left: 21px;
    margin-bottom: 60px;
}

.task-buttons button {
    height: 29px;
    width: 110px;
    background-color: #ccc6c8;
    border: 1px;
    border-radius: 5px;
}

.task-buttons button:hover {
    cursor: pointer;
}

.task-check-mark {
    display: flex;
}

.task-check-mark p {
    padding-left: 6px;
}

.icon-with-button button {
    margin-left: 4px;
}

.display-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 20px;
    height: 100px;
    border-radius: 15px;
    background-color: #ccc6c8;
}

.task-view-container {
    background-color: #ffd1dc;
    width: 700px;
    height: 360px;
    padding: 15px;
    border: 1px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
/* pomodoro style*/

.pomodoro {
  width: 300px;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  background: #f5f5f5;
  margin: 30px auto;
  font-family: Arial, sans-serif;
}

.timer {
  font-size: 50px;
  font-weight: bold;
  margin: 15px 0;
}

.buttons button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

#startBtn {
  background: #4caf50;
  color: white;
}

#pauseBtn {
  background: #5f5c5c;
  color: white;
}

#resetBtn {
  background: #f44336;
  color: white;
}


